



main p{
    font-family: 'Anton', sans-serif;

}

section p{
    font-family: 'Fascinate', cursive;

}

article p {
    font-family: 'Kdam Thmor Pro', sans-serif;
}


aside p{
    font-family: 'Roboto Mono', monospace;

}

span p{
    font-family: 'Smooch', cursive;s

}




    